@use "../../../public/styles/font" as *;
@use "../../../public/styles/mixins" as *;
@use "../../../public/styles/variables" as *;

.notesWrapper {
    margin-top: 20px;
    display: flex;
    margin-right: 20px;
}

.notesText {
    width: 75rem;
    height: 90vh;
    size: 20px;
    align-items: left;
    font-size: 1.5rem;
}

