.nav {

        margin-top: 10px;
        //display: flex;
        //justify-content: space-between;

}

.button {
    background-color: yellow;
    border: 2px solid white;
    padding: 20px;
    border-radius: 50px;
}